body{
    background-image: url(../images/image-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -50vh;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}